## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print(f'Path of read in data: {f_app}')
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
print(len(app_train)) # row數
len(app_train.columns) # column數

307511

122

#### 列出所有欄位

In [6]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [7]:
app_train.iloc[1000:, 20:]

,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
1000,-4755,1.0,1,0,0,1,0,0,NaN,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1001,-2687,64.0,1,1,0,1,0,0,Sales staff,1.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1002,-1109,17.0,1,1,1,1,0,0,Laborers,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1003,-5310,NaN,1,1,0,1,1,0,Core staff,2.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1004,-818,NaN,1,1,0,1,0,0,Core staff,3.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
1005,-289,NaN,1,1,0,1,0,0,Sales staff,2.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1006,-1545,7.0,1,1,0,1,0,0,Laborers,3.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
1007,-1768,NaN,1,0,0,1,1,0,NaN,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1008,-2748,1.0,1,1,0,1,0,0,Laborers,1.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
1009,-2799,NaN,1,1,1,1,1,0,Managers,3.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1010,-4088,NaN,1,0,0,1,0,0,NaN,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,9.0
1011,-2909,NaN,1,1,0,1,1,0,Sales staff,3.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
1012,-4314,NaN,1,1,1,1,1,0,Sales staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
1013,-4622,3.0,1,1,1,1,1,0,Sales staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,9.0
1014,-2359,NaN,1,1,0,1,0,0,Drivers,3.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1015,-4747,NaN,1,1,1,1,0,0,Sales staff,3.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1016,-930,15.0,1,0,0,1,1,0,NaN,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1017,-3583,NaN,1,1,1,1,1,0,Accountants,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1018,-4578,NaN,1,1,0,1,1,0,Managers,1.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1019,-3078,22.0,1,1,0,1,1,0,Laborers,2.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0
1020,-602,NaN,1,1,0,1,0,1,High skill tech staff,4.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1021,-4263,NaN,1,0,0,1,0,0,NaN,3.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1022,-127,NaN,1,1,0,1,0,0,Core staff,1.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1023,-2624,NaN,1,1,1,1,0,0,Laborers,3.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
1024,-2481,NaN,1,1,1,1,0,0,Core staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1025,-4873,NaN,1,1,0,1,0,0,Laborers,1.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1026,-2746,19.0,1,0,0,1,0,0,NaN,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1027,-5349,9.0,1,1,0,1,1,0,Accountants,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
1028,-3988,6.0,1,0,0,1,0,0,NaN,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
1029,-3950,NaN,1,1,0,1,0,0,Waiters/barmen staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,-3832,NaN,1,1,0,1,1,0,Managers,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,-933,11.0,1,1,0,1,0,0,Managers,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307483,-4213,NaN,1,0,0,1,0,0,NaN,1.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307484,-35,1.0,1,1,0,1,1,1,Managers,2.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307485,-626,NaN,1,1,1,1,0,0,Sales staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307486,-4392,9.0,1,1,0,1,1,0,NaN,3.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307487,-4115,NaN,1,0,0,1,0,0,NaN,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307488,-2783,NaN,1,1,0,1,0,0,Core staff,1.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307489,-9,NaN,1,1,0,1,0,0,Sales staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307490,-2557,NaN,1,1,0,1,1,0,Laborers,1.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,-3369,15.0,1,1,1,1,0,0,Drivers,4.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,-4410,2.0,1,1,0,1,0,0,Sales staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307493,-1094,NaN,1,1,0,1,0,0,Security staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307494,-4519,15.0,1,1,0,1,0,0,Drivers,3.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,-4440,2.0,1,1,0,1,1,0,High skill tech staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307496,-876,NaN,1,1,0,1,0,0,Cooking staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,-222,0.0,1,1,0,1,0,0,Sales staff,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307498,-2650,10.0,1,1,0,1,0,0,Laborers,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307499,-509,NaN,1,1,1,1,1,0,Medicine staff,2.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307500,-3906,NaN,1,1,0,1,0,1,NaN,2.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307501,-3780,NaN,1,1,1,1,0,0,Low-skill Laborers,5.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,-4531,NaN,1,1,1,1,0,0,Laborers,3.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,-3936,NaN,1,1,0,1,0,1,Core staff,1.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,-259,NaN,1,1,0,1,0,0,Sales staff,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,-2357,NaN,1,0,0,1,1,0,NaN,1.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,-1982,NaN,1,1,0,1,0,0,Sales staff,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,-4090,NaN,1,0,0,1,1,0,NaN,1.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,-5150,NaN,1,1,0,1,0,1,Managers,1.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,-931,NaN,1,1,0,1,0,0,Laborers,2.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,-410,NaN,1,1,1,1,1,0,Laborers,2.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [8]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [9]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000